* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  background-color: #fafafa;
}

a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
ul,
ol {
  list-style: none;
}

h3,h5{
  font-weight: 500;
  color: #000;
}

.h5{
  font-size: 0.6rem;
  font-weight: 400;
}

.text-brown{
  color: #724A20;
}

.text-grey {
  color: #9e9e9e;
}